<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://app.bilecom.jarevgroup.com/</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://app.bilecom.jarevgroup.com:8172/msdeploy.axd?site=jarevsac-001-subsite2</MSDeployServiceURL>
    <DeployIisAppPath>jarevsac-001-subsite2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>jarevsac-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Local" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=172.107.175.145; Initial Catalog=dbBileCom; User Id=sa;Password=abcDEF123*" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Local_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=172.107.175.145; Initial Catalog=dbBileCom; User Id=sa;Password=abcDEF123*" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Demo" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5102.site4now.net;Initial Catalog=DB_A6EC4E_dbBileCom;User Id=DB_A6EC4E_dbBileCom_admin;Password=abcDEF123*" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Demo_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL5102.site4now.net;Initial Catalog=DB_A6EC4E_dbBileCom;User Id=DB_A6EC4E_dbBileCom_admin;Password=abcDEF123*" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Demo-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Local-Web.config Connection String" />
  </ItemGroup>
</Project>