@using bilecom.enums;
@{
    ViewBag.Title = "Tipo Sede Mantenimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content-container">
    <div id="page-head">

        <!--Page Title-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div id="page-title">
            @if (Convert.ToInt32(TempData["id"]) == 0)
            {
                <h2 class="page-header text-overflow">Nuevo Tipo de Sede</h2>
                <input name="txt-opcion" id="txt-opcion" hidden value=@TempData["id"] />
            }
            else
            {
                <h2 class="page-header text-overflow">Editar Tipo de Sede</h2>
                <input name="txt-opcion" id="txt-opcion" hidden value=@TempData["id"] />
            }
        </div>
    </div>
    <form id="frm-tiposede" name="frm-tiposede" method="post">
        <div id="page-content">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <span class="bg-dark box-block pad-lft pad-rgt">Nombre Tipo de Sede</span>
                                <input class="form-control" placeholder="Tipo de Sede" name="txt-tipo-sede" id="txt-tipo-sede" data-bv-field="txt-tipo-sede" required>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <span class="bg-dark box-block pad-lft pad-rgt">Plantilla</span>
                                <select class="form-control val-exc select2-show-accessible" name="cmb-codigo-plantilla" id="cmb-codigo-plantilla" data-bv-field="cmb-codigo-plantilla" tabindex="-1" aria-hidden="false"></select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" id="chk-editable" name="chk-editable" disabled />
                                    Editable
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-primary col-sm-12" id="btn-guardar" name="btn-guardar" submit>Guardar</button>
                        </div>
                        <div class="col-sm-3">
                            <a class="btn btn-danger col-sm-12" href="@Url.Content("~/TiposSede/")">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@section scripts_footer{
    <script src="@Url.Content("~/Assets/plugins/bootstrap-validator/bootstrapValidator.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/pages/mantenimientotiposede.js")"></script>
    <script>
        $(document).ready(function () {
            pageMantenimientoTipoSede.Init();
        });
    </script>
}