<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BillServicePortBinding4">
                    <security mode="Transport" />
                </binding>
                <binding name="BillServicePortBinding5">
                    <security mode="Transport" />
                </binding>
                <binding name="BillServicePortBinding6" />
                <binding name="BillServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="BillServicePortBinding2">
                    <security mode="Transport" />
                </binding>
                <binding name="BillServicePortBinding3" />
                <binding name="BillServicePortBinding7">
                    <security mode="Transport" />
                </binding>
                <binding name="BillServicePortBinding8">
                    <security mode="Transport" />
                </binding>
                <binding name="BillServicePortBinding9" />
                <binding name="BillServicePortBinding13">
                    <security mode="Transport" />
                </binding>
                <binding name="BillServicePortBinding15">
                    <security mode="Transport" />
                </binding>
                <binding name="BillServicePortBinding16" />
            </basicHttpBinding>
            <customBinding>
                <binding name="BillServicePortBinding1">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="BillServicePortBinding14">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://e-guiaremision.sunat.gob.pe:443/ol-ti-itemision-guia-gem/billService"
                binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding4"
                contract="bilecom.sunat.ws.guia.billService" name="BillServicePort1" />
            <endpoint address="https://e-guiaremision.sunat.gob.pe:443/ol-ti-itemision-guia-gem/billService"
                binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding5"
                contract="bilecom.sunat.ws.guia.billService" name="BillServicePort.1" />
            <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService"
                binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
                contract="bilecom.sunat.ws.venta.billService" name="BillServicePort" />
            <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService"
                binding="customBinding" bindingConfiguration="BillServicePortBinding1"
                contract="bilecom.sunat.ws.venta.billService" name="BillServicePort.0" />
            <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService"
                binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding2"
                contract="bilecom.sunat.ws.venta.billService" name="BillServicePort.3" />
            <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itemision-otroscpe-gem/billService"
                binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding7"
                contract="bilecom.sunat.ws.otros.billService" name="BillServicePort2" />
            <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itemision-otroscpe-gem/billService"
                binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding8"
                contract="bilecom.sunat.ws.otros.billService" name="BillServicePort.11" />
            <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService"
                binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding13"
                contract="ws.venta.billService" name="BillServicePort4" />
            <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService"
                binding="customBinding" bindingConfiguration="BillServicePortBinding14"
                contract="ws.venta.billService" name="BillServicePort.01" />
            <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService"
                binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding15"
                contract="ws.venta.billService" name="BillServicePort.31" />
        </client>
    </system.serviceModel>
</configuration>