<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="debug" value="true"/>
    <add key="NombreConexion" value="Local" />
  </appSettings>
  <connectionStrings>
    <add name="Local" connectionString="Data Source=172.107.175.145; Initial Catalog=dbBileCom; User Id=sa;Password=abcDEF123*" />
    <add name="Demo" connectionString="Data Source=SQL5102.site4now.net;Initial Catalog=DB_A6EC4E_dbBileCom;User Id=DB_A6EC4E_dbBileCom_admin;Password=abcDEF123*" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>